<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>View Rider Orders</title>
</head>
<body>
<h1>View Rider Orders</h1>
<form action="/thymeleaf/rider-orders" method="get">
  <label for="rider">Rider Name:</label>
  <input type="text" id="rider" name="rider" required><br>
  <button type="submit">View Orders</button>
</form>
<div>
  <ul>
    <li th:each="order : ${orders}">
      <span th:text="'TaskId: ' + ${order['taskId']}"></span><br>
      <span th:text="'Restaurant Name: ' + ${order['restaurantName']}"></span><br>
      <span th:text="'Order Details: ' + ${order['orderDetails']}"></span><br>
      <span th:text="'Quantity: ' + ${order['quantity']}"></span><br>
      <span th:text="'Address: ' + ${order['address']}"></span><br>
      <span th:text="'Username: ' + ${order['username']}"></span><br>
      <hr>
    </li>
  </ul>
</div>
</body>
</html>
